* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: wheat;
}

/* .center-div {
  display: flex;
  justify-content: center;
} */

.container {
  margin: 100px;
  width: 500px;
  height: 500px;
  background-color: black;
}
.boxes-container {
  width: 500px;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}
.boxes {
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 60px;
}
